# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
# Ansible
bertvv.samba*
bertvv.vsftpd*
geerlingguy.nfs*
xanmanning.k3s*
cmprescott.autofs*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
